.body {
  background-color: #171c7e;
  color: #fff;
}

.container {
  margin-top: 20px;
}

/* Navbar */
.navbar {
  padding: 15px 0;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  margin-left: 30px;
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-toggler-icon {
  background-color: #3498db;
}

.navbar-nav .nav-link {
  font-size: 18px;
  margin-right: 50px;
}

.navbar-nav .nav-link.active {
  border-bottom: 2px solid #fff;
}

/* Jumbotron */
.jumbotron {
  padding: 67px 0;
  background-color: #d1d2e5;
  margin-bottom: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.jumbotron h1 {
  color: black;
  text-align: left;
  font-size: 4rem;
  margin-bottom: 20px;
}

.jumbotron p {
  color: black;
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

/* Card */
body {
  background-color: #171c7e;
  color: #fff;
}

.card {
  background-color: #3498db;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-body {
  text-align: center;
}

.card-text {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
/* Maps & Form */
.maps1,
.cardbody {
  border-radius: 10px;
  overflow: hidden;
}

.form-control,
.btn-primary {
  border-radius: 10px;
}

.alert {
  margin-bottom: 50px;
  display: none;
}

/* Info Section */
#info {
  background-color: #d1d2e5;
  color: #171c7e;
}

.container2 {
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.infoheader {
  padding: 15px;
}

h1,
h2 {
  margin-bottom: 15px;
}

.small {
  font-size: 14px;
}

.iconlogo1 {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

ul li a {
  color: #171c7e;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

.iconlogo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Responsif: Atur margin pada kolom agar tidak bersisian di perangkat kecil */
@media (max-width: 767px) {
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .infoheader {
    margin-bottom: 15px;
  }
}
/* Footer */
#footer {
  background-color: #171c7e;
  color: #fff;
  padding: 20px 0;
}

.footer-brand {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.footer-brand:hover {
  text-decoration: underline;
}

.footer-collapse {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-collapse a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.footer-collapse a:hover {
  text-decoration: underline;
}

.footer-nav {
  display: flex;
  align-items: center;
}

/* Responsive styles */
@media (max-width: 767px) {
  .footer-collapse {
    flex-direction: column;
    align-items: flex-end;
  }

  .footer-collapse a {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
