* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
body{
  background-color: #171C7E;
  font: 16px/28px;
  color: white;
  font-family: sans-serif;
  box-sizing: border-box;
}
#info{
  padding-top: 400px;
  padding-left: 210px;
  padding-right: 350px;
}
body{
  background-color: #171C7E;
  font: 16px/28px;
  color: white;
  font-family: arial;
  box-sizing: border-box;
}

nav {
  display: flex;
  background-color:  #171C7E;
  justify-content: space-around;
  padding: 50px 0px;
  margin-left: 50px;
  color: white;
}

nav a {
  color: white;
  margin-right: 70px;
}

.container-fluid a {
  color: white;
  display: flex;
  width: 40%;
  padding: 30px 0px;
  justify-content: space-between;
}

#hero {
  width: 100%;
  height: 80vh;
  background:  #64699c;
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #47b2e4;
}

#hero .btn-get-started:hover {
  background: #209dd8;
  padding-bottom: 200px;
  
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 90%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}



.clients {
  padding: 15px 0;
  margin-right: 30px;
  color: #1A1761;
  font-weight: bold;
}

.clients form {
  width: 70%;
  height: 30%;
  left: 100%;
  right: 50%;
}


.clients p {
  padding-left: 20px;
}


@media (max-width: 768px) {
  .clients p {
    max-width: 40%;
  }
}


.bodyblog{
  background-color: #b4b1c4;
}

.bodyblog .blog1 h2 {
  color: #1A1761;
  font-weight: bold;
  padding-left: 500px;
  font-size: 20px;
}

.bodyblog .blog1 form {
  padding-left: 500px;
  left: 50%;
  right: 50%
}

#bagian1{
  color: #1A1761;
  font-weight: bold;
}

#bagian2{
  color: #1A1761;
  font-weight: bold;
}

#bagian1{
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}
#bagian1 > div{
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

#bagian2{
  justify-content: center;
  padding-left: 30%;
  padding-right: 30%;
}

#bagian2 > div{
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

#blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid;
}

.blog-card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.blog-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

@media screen and (max-width : 768px) {
  .blog1 ul {
    width: 50%;
  }
  
}

.card {
  width: 300px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
}


.card img {
  max-width: 100%;
  height: auto;
  width: 300px;
  height: 200px;
}

.card-text {
  text-decoration: white;
  color: #333;
  font-weight: bold;
  display: block;
  margin: 10px 0;
}

.card a {
  text-decoration: white;
  color: white;
  font-weight: bold;
  display: block;
  margin: 10px 0;
}

.pagination {
  display: inline-block;
  color: #171C7E;
  font-weight: bold;
}

.pagination a {
  color: #171C7E;
  float: left;
  padding-left: 20px;
  text-decoration: none;
}

  #info{
    padding-left: 30px;
    padding-right: 5%;
  
  }
  #info a{
    text-decoration: none;
    color: #1A1761;
    font-weight: lighter;
  }
  
  #info h1{
    color: #1A1761;
    font-weight: bold;
    font-size: 15px;
    line-height: 2;
    
  }
  
  #info h2{
    font-weight: bold;
    font-size: 36px;
  }
  
  .infoheader p{
    width: 347px;
    height: 96px;
    color: #243CBB;
    line-height: 1.2;
  }
  
  .infoheader img{
    width: 30px;
    height: 30px;
  }
  
  .infoheader li a{
    line-height: 1.5;
  }
  
  #CapybaraFixer{
    margin-top: -38px;
  }
  
  #CapybaraFixer1{
    margin-top: -15px;
  }
  
  .footer-copyright { 
    background:  #171C7E; 
    padding: 20px 0;
  }

  .footer-copyright p { 
    color: white; 
    margin: 2px 0 0;
  }
  

  .form-control {
    background:  #D1D2E5;
    border-color:  #D1D2E5;
  }
  
  .form-control:focus {
    background:  #D1D2E5;
  }
  
  footer {
    background:  #D1D2E5;
  }
  
